* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'MuseoModerno', cursive;
    background: #222831;
    /*background-color: #1b262c;*/
  color: white;
    text-align: center;
  }

  /*PartyClue --- Chat and find the Clue to solve your problem.