
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', cursive;
  background: #222831;
  /*background-color: #1b262c;*/
color: white;
  text-align: center;
}

main {
  display: grid;
  height: 100vh;
  width: 100vw;
 
 
}

/*------- Welcome/Registration/login ---------*/

/*--Welcome--*/

/*.welcome-container h1{
  font-size: 20px;
  top: 5%;
}

.welcome-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}*/



.registration-form h1 {
  font-size: 20px;
}

form {
  display: grid;
  position : relative;
  width  : 740px;
  height : 498px;
  margin : 10vh auto;
  padding: 1em;
  grid-gap : 50px;
  grid-template-columns: 1fr;
  text-align: center;
}

.registration-form {
  grid-template-rows: 1em 1em 1em 1em 1em 1em;
  
}

.login-form {
  grid-template-rows: 1em 1em 1em 1em;
  
}

input {
  border: none;
  padding: 0 10px;
  margin: 0;
  width : 40%;
  height: 2rem; 
  justify-self: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: 1px solid white;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  width : 15%;
  height: 1.2rem; 
  justify-self: center;
}


button:hover,
button:focus {
  outline     : none;
}

a {
    color: white;
    
} 

/*------- Logo -----------*/

.logo {
  grid-column-start: 1/ 2;
  grid-row: 1/2;
}
.logo img {
  display: grid;
  
  position: absolute;
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  /*left: float;*/
  margin: 15px 0 0 30px;
}

/*-------- Profile S---------*/

.profpic-container-s {
  
  grid-column:  1 / 3;
 
 
  background-size: cover;
  height: 100px;
  width: 100px;
  float: right;
  margin: 15px 15px 0 0;
}
  
.profpic-container-s img {
  height: 100%;
  width: 100%;

  }
  /*flex-direction: column;
  float:right;*/

/*---- Modal ------*/

.modal{
  position: absolute;
  height: auto;
  width: 600px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
}

.modal p {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal h2{
  text-align: center;
}

.modal-image {
  position: relative;
  right: 5px;
  top: 5px;
}

/*----- Profile XL -------*/

.profpic-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 50px 200px;
 /*display: flex;
  position: relative;*/
    width: 100%;
    margin: 15% 0 0 0;
    float: left;
}

.profpic-container .profpic-container-xl {
 grid-column: 1/2;
 grid-row: 1/4; 

/*position: absolute;
 width: auto;
 height: auto;
 left: 5%;*/
}

.profpic-container-xl img {
width: 250px;
height: 250px;
}

  .profpic-container h1 {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
  }

  /*---- bio ----*/

.profpic-container .bio-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 50px;
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3; 
}

  .bioEdit{
 display: grid;
    position: relative;
    height: 50%;
    width: 700px;
    text-align: left;
    
}

.bioEdit button {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100px;
  top: 10px;
  justify-self: left;
  bottom: 5px;
  
}

.bioEdit p {
  height: auto;
  width: 600px;
  bottom: 5px;
}

.bioEditor .textarea{
  display: relative;
}

.logout {
  width: 100px;
}
/*----- Other Profile ------*/

.other_prof_container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 50px 200px;
 /*display: flex;
  position: relative;*/
    width: 100%;
    margin: 15% 0 0 0;
    float: left;
}

.other_prof_container img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  justify-self: center;
}

.other_prof_container h1{
  justify-self: center;
}

.other_prof_container h2{
  justify-self: start;
  align-self: center;
}

.other_prof_container p{
  justify-self: start;
}

/*--------CHat -------*/

/*.chat-message-container{
  height: 300px;
  width: 80%;
  overflow-y: scroll;
}*/
